.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background: white;
  background-image: url("../public/bread.jpg");
}

.main h1 {
  color: var(--dark-green);
  font-size: 4em;
}

.register-login {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  opacity: 0.9;
}

.google-link {
  display: inline-block;
  text-decoration: none;
  width: 15rem;
  height: 3.5rem;
  border: 2px solid #ff5c4d;
  border-radius: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background: #ffed86;
  color: #ff7636;
  font-size: 15px;
  font-weight: 600;
  margin: 15px;
  cursor: pointer;
}

.img {
  border-radius: 10px;
}

.features {
  position: relative;
  display: flex;
  width: 100%;
}

.left,
.right {
  flex: 1;
  transition: all ease-in 1s;
  position: relative;
  overflow: hidden;
  opacity: 0;
}

.left {
  height: 100px;
  transform: translateX(-150%);
  background-color: red;
}

.right {
  height: 100px;
  transform: translateX(150%);
  background-color: blue;
}

.slideIn {
  transform: translateX(0);
  opacity: 1;
}
