.heading {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #3b707d;
}

.search-container {
  position: relative;
  width: 50%;
  margin: 0 auto 20px auto;
}

.search {
  display: block;
  width: 100%;
  line-height: 200%;
  border: 0.5px solid darkgray;
  border-radius: 15px;
  padding: 5px;
}

.clear {
  position: absolute;
  border: none;
  display: block;
  height: 90%;
  width: 15px;
  right: 5px;
  top: 1px;
  bottom: 0;
  background-color: white;
  outline: none;
  cursor: pointer;
}
.add-button {
  margin: auto;
  display: block;
  width: 20rem;
  height: 8rem;
  background-color: #ff5c4d;
  color: white;
  border: #ff5c4d;
  border-radius: 5px;
  font-size: 20px;
}

.recipes {
  /* background: #f0f7e0; */
  height: 100vh;
  padding-top: 2rem;
  position: relative;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  width: 80vw;
  overflow: scroll;
  height: 100%;
  margin: 5rem auto 0 auto;
}
