.heading {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  text-align: center;
  color: #595e60;
}

.search-container {
  position: relative;
  width: 50%;
  margin: 0 auto 20px auto;
}

.search {
  display: block;
  width: 100%;
  line-height: 200%;
  border: 0.5px solid darkgray;
  border-radius: 15px;
  padding: 5px;
}

.clear {
  position: absolute;
  border: none;
  display: block;
  height: 90%;
  width: 15px;
  right: 5px;
  top: 1px;
  bottom: 0;
  background-color: white;
  outline: none;
  cursor: pointer;
}
.add-button {
  margin: auto;
  display: block;
  width: 20rem;
  height: 8rem;
  background-color: #ff5c4d;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.recipes {
  padding-top: 2rem;
  position: relative;
  background-color: #f9f6f0;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  width: 80vw;
  overflow: scroll;
  height: 100vh;
  margin: 5rem auto 0 auto;
  background-color: #f9f6f0;
}

.or {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  color: #595e60;
}

.search-for-new {
  text-decoration: none;
  cursor: pointer;
  font-size: 2rem;
  color: forestgreen;
}

.link-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .recipe-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
