.heading {
  font-size: 3rem;
  text-align: center;
  /* color: #595e60; */
  background: -webkit-linear-gradient(#eee, #3b5998);
  background: -webkit-linear-gradient(#e98074, #8e8d8a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search-container {
  position: relative;
  width: 50%;
  margin: 0 auto 20px auto;
}

.search {
  display: block;
  width: 100%;
  line-height: 200%;
  border: 0.5px solid darkgray;
  border-radius: 15px;
  padding: 5px;
}

.clear {
  position: absolute;
  border: none;
  display: block;
  height: 90%;
  width: 15px;
  right: 5px;
  top: 1px;
  bottom: 0;
  background-color: white;
  outline: none;
  cursor: pointer;
}
.add-button {
  margin: auto;
  display: block;
  width: 20rem;
  height: 4rem;
  /* background-color: transparent;
  color: #ff5c4d;
  border: 1px solid #ff5c4d; */
  background-color: #ff5c4d;
  /* background-color: #05386b; */
  color: white;
  opacity: 0.9;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  cursor: pointer;
  /* box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2); */
}

.recipes {
  padding-top: 2rem;
  position: relative;
  background-color: #fdfefe;
  /* background-color: #def2f1; */
  /* background-color: rgba(172, 225, 175, 0.1); */
  /* background-color: #f9f6ee; */
  /* background-color: rgba(234, 231, 220, 0.3); */
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  column-gap: 20px;
  width: 80vw;
  overflow: scroll;
  height: 100vh;
  margin: 5rem auto 0 auto;
  background-color: #fdfefe;
  /* background-color: #f9f6ee; */
}

.or {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #595e60;
}

.search-for-new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 4rem;
  border-radius: 5px;
  /* border: 1px solid forestgreen;
  background-color: transparent;
  color: forestgreen; */
  background-color: forestgreen;
  /* background-color: #edf5e1;
  color: #05386b; */
  color: white;
  opacity: 0.9;
  text-decoration: none;
  cursor: pointer;
  font-size: 22px;
  /* box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2); */
}

.search-for-new:hover,
.add-button:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.link-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.database {
  margin-right: 10px;
}

.plus {
  margin-right: 10px;
  font-size: 30px;
}

@media screen and (max-width: 600px) {
  .recipe-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    column-gap: 20px;
  }
}
