.main {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #fdfefe;
}

.left {
  display: flex;
  flex-direction: column;
  width: 25%;
  position: relative;
  z-index: 100;
  margin-right: 3rem;
  margin-top: 60px;
}

.recipe {
  width: 80%;
  height: 100vh;
}

.search {
  margin-top: 50px;
  padding: 5px;
  width: 100%;
  height: 100vh;
  margin: 10px auto 0 auto;
}

.add-recipe-button {
  width: 10rem;
  height: 3rem;
  display: block;
  margin: 0 auto 10px auto;
  background-color: #ff5c4d;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.search-container {
  width: 90%;
  margin: auto;
}

.title {
  font-size: 2.5rem;
  color: #104210;
  margin-left: 20px;
  transform: skew(-5deg);
}

.left a {
  text-decoration: none;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 50%;
  bottom: 50%;
  height: 150px;
  width: 50px;
  border: 0.5px solid darkgray;
  border-radius: 0 5px 5px 0;
  margin: auto;
  background-color: #ff5c4d;
  color: white;
  visibility: hidden;
  z-index: 50;
}

.tab-text {
  transform: rotate(90deg);
}

.search-slide {
  animation-name: slideOut;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.search-retract {
  animation-name: retract;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@media screen and (max-width: 1000px) {
  .left {
    left: -45%;
    width: 40%;
    padding: 10px;
    border-right: 0.5px solid darkgray;
    position: absolute;
    height: 100vh;
  }
  .recipe {
    width: 100vw;
  }
  .tab {
    visibility: visible;
  }
}

@media screen and (max-width: 600px) {
  .left {
    left: -90%;
    width: 80%;
    padding: 10px;
    border-right: 0.5px solid darkgray;
    position: absolute;
    height: 100vh;
  }
  .recipe {
    width: 100vw;
  }
  .tab {
    visibility: visible;
  }
}

@keyframes slideOut {
  to {
    left: 0;
    top: 0;
    z-index: 100;
    background-color: white;
  }
}

@keyframes retract {
  from {
    left: 0;
    top: 0;
    width: 40%;
    z-index: 100;
    position: absolute;
    background-color: white;
    height: 100vh;
    padding: 10px;
  }
  to {
    left: -50%;
    top: 0;
    width: 40%;
    position: absolute;
    background-color: white;
    height: 100vh;
    padding: 10px;
  }
}
