.main {
  display: flex;
  justify-content: center;
}

.recipe {
  width: 80%;
}

.search {
  margin-top: 50px;
  padding: 5px;
  width: 25%;
  height: 100vh;
  border: 0.5px solid;
  margin: auto;
}

.search-container {
  width: 90%;
  margin: auto;
}
