.heading {
  text-align: center;
  background: -webkit-linear-gradient(#eee, #3b5998);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-input {
  height: 1.5rem;
  border-radius: 5px;
  border: 0.5px solid black;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.search-form {
  width: 80%;
  margin: auto;
}

.select {
  padding: 10px;
}

.dropdowns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

.dropdown-grouping,
.input-grouping {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.input-and-button {
  display: flex;
}

.add-button {
  width: 4rem;
  background-color: #3b5998;
  border: none;
  border-radius: 5px;
  color: #fdfefe;
  margin-left: 8px;
  cursor: pointer;
}

.specified-criteria {
  width: 70%;
  height: 2rem;
  border: 0.5px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-top: 1rem;
  border: 0.5px solid black;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.exclude,
.include,
.query {
  font-weight: 600;
}
.exclude {
  color: red;
}

.include {
  color: green;
}

.query {
  color: #595e60;
}

.search-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.search-button {
  height: 3rem;
  width: 35%;
  background-color: #00ab66;
  color: #fdfefe;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.search-button:hover {
  border: 1px solid #018749;
  background-color: #afe1af;
  color: #018749;
}

.hr {
  width: 80%;
}
