.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f9f6ee;
  background-color: #eae7dc;
  padding: 1rem;
  position: relative;
}

.form h1 {
  text-align: center;
  color: #595e60;
  color: #8a9a5b;
}

.form label {
  font-weight: 600;
  color: #595e60;
}

.form input {
  width: 50%;
  border-radius: 5px;
  margin-right: 10rem;
  float: right;
  /* line-height: 150%; */
  padding: 5px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.form textarea {
  overflow: scroll;
  border-radius: 5px;
  vertical-align: top;
  width: 100%;
  padding: 5px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.label-input,
.label-textarea {
  margin-bottom: 10px;
}

.label-textarea label {
  display: block;
  margin-bottom: 10px;
}

.save {
  width: 200px;
  border-radius: 5px;
  background-color: green;
  background-color: #e85a4f;
  color: #fdfefe;
  font-size: 20px;
  border: none;
  margin: auto;
  margin-bottom: 30px;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.cook-time-group {
  display: flex;
  flex: 1;
}

.hours-minutes {
  display: flex;
  width: 50%;
  margin-left: 68px;
}

.label-input-time {
  display: flex;
  margin-bottom: 10px;
}

.label-input-time input {
  width: 50px !important;
  line-height: 150%;
  margin-right: 10px;
}

.label-input-time label {
  margin-right: 10px;
}
