.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f9f6ee;
  padding: 1rem;
}

.form h1 {
  text-align: center;
  color: #595e60;
}

.form label {
  font-weight: 600;
  color: #595e60;
}

.form input {
  width: 50%;
  border-radius: 5px;
  margin-right: 10rem;
  float: right;
  /* line-height: 150%; */
  padding: 5px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.form textarea {
  overflow: scroll;
  border-radius: 5px;
  vertical-align: top;
  width: 100%;
  padding: 5px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.label-input,
.label-textarea {
  margin-bottom: 10px;
}

.label-textarea label {
  display: block;
  margin-bottom: 10px;
}

.save {
  width: 200px;
  border-radius: 5px;
  background-color: green;
  color: #fdfefe;
  font-size: 20px;
  border: none;
  margin: auto;
  margin-bottom: 30px;
  cursor: pointer;
}
