.options {
  margin: auto;
  display: flex;
  justify-content: center;
}

.icon-container-delete,
.icon-container-edit {
  margin: 5px;
  border-radius: 50%;

  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-container-delete {
  background-color: #fc2e20;
}

.icon-container-edit {
  background-color: lightgreen;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  transition: visibility 0s linear 1s;
  visibility: visible;
}
