.box {
  height: 17rem;
  width: 20rem;
}

.box a {
  text-decoration: none;
  color: #333;
}

.pic {
  background-color: lightgray;
  height: 80%;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.pic:hover {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.name {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.options {
  margin: auto;
  display: flex;
  justify-content: center;
}

.icon-container {
  margin: 5px;
  border-radius: 50%;
  background-color: lightgray;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  color: white;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: rgba(0, 0, 0, 0.35);
}

.overlay-name {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0 0px 15px;
  line-height: 95%;
}
.overlay-cooktime {
  font-size: 15px;
  margin: 20px 0 0px 15px;
  line-height: 95%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  transition: visibility 0s linear 1s;
  visibility: visible;
}
