.main {
  display: flex;
  justify-content: center;
  height: fit-content;
}

.recipe {
  width: 100%;
  padding: 10px;
  background-color: var(--off-white);
  overflow: scroll;
  height: 100vh;
}

.recipe-name {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #c85250;
}

.recipe-image {
  position: relative;
  height: 45dvh;
  width: 60%;
  margin: 10px auto 0 auto;
  overflow: hidden;
  border-radius: 10px;
}

.info,
.ingredients,
.directions {
  border-radius: 10px;
  padding: 10px;
  margin: 5px auto 0 auto;
  width: 60%;
  border: 0.5px solid #333;
  background-color: #eee;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.search {
  width: 20%;
  height: 100vh;
  background-color: #faf7f4;
}

.section-heading {
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
}

.info-prop {
  font-weight: 600;
}

.no-recipe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.options {
  margin: auto;
  display: flex;
  justify-content: center;
}

.icon-container {
  margin: 5px;
  border-radius: 50%;
  background-color: lightgray;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.save-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.save {
  width: 8rem;
  height: 2.5rem;
  color: #eee;
  font-size: 15px;
  background-color: #1cac78;
  border: none;
  border-radius: 5px;
  margin: auto;
  cursor: pointer;
}

.save-icon {
  margin-right: 10px;
}

.list-item {
  margin-bottom: 10px;
}

.link-to-recipe {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: royalblue;
  margin: 15px auto 15px auto;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #eee;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  transition: visibility 0s linear 1s;
  visibility: visible;
}

@media screen and (max-width: 1000px) {
  .info,
  .ingredients,
  .directions,
  .recipe-image {
    width: 80%;
  }
  .recipe {
    height: 100vh;
  }
}

@media screen and (max-width: 600px) {
  .info,
  .ingredients,
  .directions,
  .recipe-image {
    width: 90%;
  }

  .recipe-image {
    height: 25dvh;
  }
}
