.main {
  display: flex;
  justify-content: center;
}

.recipe {
  height: 100vh;
  width: 90%;
  margin: auto;
}

.recipe-name {
  text-align: center;
  color: #3b707d;
}

.recipe-image {
  position: relative;
  height: 50vh;
  width: 50%;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.info,
.ingredients,
.directions {
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.info {
  background: lightgray;
}

.ingredients {
  background: lightblue;
}

.directions {
  background: lightgoldenrodyellow;
}

.search {
  width: 20%;
  height: 100vh;
}

.section-heading {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  color: #333;
}
