.search-container {
  position: relative;
  margin: 0 auto 30px auto;
}

.search {
  display: block;
  width: 100%;
  line-height: 250%;
  border-radius: 20px;
  border: none;
  padding: 5px;
  padding-left: 40px;
  background-color: #eee;
}

.search:focus {
  border: none;
  box-shadow: 15px 8px 15px 8px rgba(0, 0, 0, 0.06);
  background-color: #fdfefe;
  outline: none;
}

.clear {
  position: absolute;
  border: none;
  display: block;
  height: 60%;
  width: 15px;
  right: 10px;
  top: 8px;
  bottom: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.search-icon {
  position: absolute;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 15px;
  left: 10px;
  top: 10px;
  bottom: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #eee;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  transition: visibility 0s linear 1s;
  visibility: visible;
}
