.search-container {
  position: relative;
  margin: 0 auto 20px auto;
}

.search {
  display: block;
  width: 100%;
  line-height: 200%;
  border: 0.5px solid darkgray;
  border-radius: 15px;
  padding: 5px;
}

.clear {
  position: absolute;
  border: none;
  display: block;
  height: 90%;
  width: 15px;
  right: 5px;
  top: 1px;
  bottom: 0;
  background-color: white;
  outline: none;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  transition: visibility 0s linear 1s;
  visibility: visible;
}
